<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tic-Tac-Toe</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">

</head>
<body>
  <div class="table1">
    <div class="one">
      <button id="1" (click)="setSymbol('1','res1')">
        <p id="res1"></p>
      </button>
    </div>
    <div class="two">
      <button id="2" (click)="setSymbol('2','res2')">
        <p id="res2"></p>
      </button>
    </div>
    <div class="three">
      <button id="3" (click)="setSymbol('3','res3')">
        <p id="res3"></p>
      </button>
    </div>
    <div class="four">
      <button id="4" (click)="setSymbol('4','res4')">
        <p id="res4"></p>
      </button>
    </div>
    <div class="five">
      <button id="5" (click)="setSymbol('5','res5')">
        <p id="res5"></p>
      </button>
    </div>
    <div class="six">
      <button id="6" (click)="setSymbol('6','res6')">
        <p id="res6"></p>
      </button>
    </div>
    <div class="seven">
      <button id="7" (click)="setSymbol('7','res7')">
        <p id="res7"></p>
      </button>
    </div>
    <div class="eight">
      <button id="8" (click)="setSymbol('8','res8')">
        <p id="res8"></p>
      </button>
    </div>
    <div class="nine">
      <button id="9" (click)="setSymbol('9','res9')">
        <p id="res9"></p>
      </button>
    </div>
  </div>
  <br>
  <div class="table2">
    <div class="p1">
      <p>Jugador(X)</p>
    </div>
    <div class="score1">
      <p id="scp1">0</p>
    </div>
    <div class="p2">
      <p>Jugador(O)</p>
    </div>
    <div class="score2">
      <p id="scp2">0</p>
    </div>
    <div class="draw">
      <P>Draw</P>
    </div>
    <div class="score0">
      <p id="scp0">0</p>
    </div>
  </div>

  <div class="reset">
    <button (click)="reset()">
      <p>Reset</p>
    </button>
  </div>

</body>
</html>
